{% extends "pretixcontrol/auth/base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="form-signin" action="" method="post">
        <h3>{% trans "Hello!" %}</h3>
        <p>
            {% blocktrans trimmed with a_attr="href='/control/'" %}
                This is <a {{ a_attr }}>tiks</a>, a simple place to sell tickets.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
                To buy a ticket, open the event link shared by the organizer.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed with a_attr="href='/control/'" %}
                To manage events, <a {{ a_attr }}>go to the admin area</a>.
            {% endblocktrans %}
        </p>
        <p>{% trans "Welcome." %}</p>
    </div>
{% endblock %}
