[Unit]
Description=tiks periodic background jobs
After=network.target

[Service]
Type=oneshot
User=root
Group=root
WorkingDirectory=/root/tiks
Environment=PRETIX_CONFIG_FILE=/root/tiks/.tiks/production.cfg
ExecStart=/root/tiks/.venv/bin/python -m pretix runperiodic
